
.raceBoard {
  height: 80%;
  width:80%;
  top:20%;
  background-color: blue;
  top:10%;
  bottom: 10%;
  left: 10%;
  right: 0;
  margin: auto;

}
.player1Track{
  background-color: red;
  position
  border-style: solid;
  border-left: thick double #ff0000;
}

.imageContainer {
  width:100%
}
.tracks {
  height:25%;
  border: 5px solid green;
}
.tracks--three {
  height: 33.3333%;
}

div {
  position:relative;
}

img {
  height:100%;
}

.red {
  border: 1px solid red;
}
