

body {
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inconsolata', sans-serif;
}

h1 {
  font-family: 'Inconsolata', ;
}

.windowBar {
  background-color:white;
  position:relative;
}
.raceBoard {
  background: url("../img/window.png");
  background-size: cover;
  height: 90%;
  width:95%;
  background-color: white;
  top:4%;
  left: 2.5%;
  right: 0;
  padding: 5%;
  padding:4%;

}
.playerTracks{
  background-color: red;
  height:100%;
  border-style: solid;
  border: 1px solid black;
  background: -moz-linear-gradient(#fdfdfd, #c9c9c9);
	background: -webkit-linear-gradient(#fdfdfd, #c9c9c9);
}

.player1Container{
  background-color:blue;
}

.player2Container{
  background-color:purple;
}

.player3Container{
  background-color:orange;
}

.player4Container {
  background-color: green;
}
.imageContainer {
  width:100%
}
.tracks {
  height:25%;
  border: 5px solid;
  border-color: white;
}
.tracks--three {
  height: 33.3333%;
}

.reset {
  font-size:4em;
  margin:
  left:0
  right:0
}
.playerWinText {
  font-size: 7.5em;
  opacity:1;
  max-width:98%;
  z-index: 1000;
  color: BLACK;
  text-align: center;
  max-height:100%;
  font-family: 'Inconsolata',;
}

.overlayBackground {
    width: 100%;
    height: 100%
    z-index: -99;
    position:fixed;
    overflow:hidden;
  }
.overlay {
  max-height:100%;
  z-index: 100;
  left: 0;
  line-height: auto;
  margin: auto;
  position: absolute;
  top: 10%;
  width: 100%;
  background: url("../img/windowWin.png");
  border-bottom: 1px solid black;
  font-family: 'Inconsolata', ;
  background-size: cover;
  display: block;
}

div {
  position:relative;
}

img {
  height:100%;
}

.red {
  border: 1px solid red;
}
